{% extends 'main/base_category.html' %}


{% block title %}
board-games
{% endblock %}

{% block gamename1 %}
Catan
{% endblock %}

{% block discription1 %}
Very interesting
{% endblock %}

{% block price1 %}
Price $15
{% endblock %}


{% block gamename2 %}
Catan
{% endblock %}

{% block discription2 %}
Very interesting
{% endblock %}

{% block price2 %}
Price $15
{% endblock %}


{% block gamename3 %}
Catan
{% endblock %}

{% block discription3 %}
Very interesting
{% endblock %}

{% block price3 %}
Price $15
{% endblock %}


